@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0a0a0a;
    color: #ffffff;
    font-feature-settings: "rlig" 1, "calt" 1;
    overflow-x: hidden;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-zinc-900/70 backdrop-blur-xl border border-white/10;
  }
}