@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fafafa;
    /* light gray bg similar to Otanes */
    color: #09090b;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white/70 backdrop-blur-xl border border-white/20 shadow-[0_8px_30px_rgb(0, 0, 0, 0.04)];
  }
}